In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np

In [6]:
df= pd.read_csv('C:/Users/amitg/OneDrive/Documents/GitHub/UCDPA_amitgupta/Datasets/1553768847-housing.csv')

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [8]:
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0
3    -122.25     37.85                  52         1274           235.0
4    -122.25     37.85                  52         1627           280.0

   population  households  median_income ocean_proximity  median_house_value
0         322         126         8.3252        NEAR BAY              452600
1        2401        1138         8.3014        NEAR BAY              358500
2         496         177         7.2574        NEAR BAY              352100
3         558         219         5.6431        NEAR BAY              341300
4         565         259         3.8462        NEAR BAY              342200

In [9]:
import re

In [14]:
df.dtypes=='object'

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
ocean_proximity        True
median_house_value    False
dtype: bool

In [15]:
num_vars=df.columns[df.dtypes!='object']
cat_vars=df.columns[df.dtypes=='object']

In [16]:
print(num_vars)
print(cat_vars)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')
Index(['ocean_proximity'], dtype='object')

In [24]:
df[num_vars].isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [21]:
len(df)

20640

In [26]:
df[cat_vars].isnull.sum()

AttributeError: 'function' object has no attribute 'sum'

In [27]:
df[num_vars].isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [28]:
print(df[df['total_bedrooms'].isnull()])

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
290      -122.16     37.77                  47         1256             NaN
341      -122.17     37.75                  38          992             NaN
538      -122.28     37.78                  29         5154             NaN
563      -122.24     37.75                  45          891             NaN
696      -122.10     37.69                  41          746             NaN
...          ...       ...                 ...          ...             ...
20267    -119.19     34.20                  18         3620             NaN
20268    -119.18     34.19                  19         2393             NaN
20372    -118.88     34.17                  15         4260             NaN
20460    -118.75     34.29                  17         5512             NaN
20484    -118.72     34.28                  17         3051             NaN

       population  households  median_income ocean_proximity  \
290           570         218         4.3750        NEAR BAY
341           732         259         1.6196        NEAR BAY
538          3741        1273         2.5762        NEAR BAY
563           384         146         4.9489        NEAR BAY
696           387         161         3.9063        NEAR BAY
...           ...         ...            ...             ...
20267        3171         779         3.3409      NEAR OCEAN
20268        1938         762         1.6953      NEAR OCEAN
20372        1701         669         5.1033       <1H OCEAN
20460        2734         814         6.6073       <1H OCEAN
20484        1705         495         5.7376       <1H OCEAN

       median_house_value
290                161900
341                 85100
538                173400
563                247100
696                178400
...                   ...
20267              220500
20268              167400
20372              410700
20460              258100
20484              218600

[207 rows x 10 columns]

In [29]:
new_df=df.dropna(
)

In [30]:
print(new_df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income ocean_proximity  \
0             322         126         8.3252        NEAR BAY
1            2401        1138         8.3014        NEAR BAY
2             496         177         7.2574        NEAR BAY
3             558         219         5.6431        NEAR BAY
4             565         259         3.8462        NEAR BAY
...           ...         ...            ...             ...
20635         845         330         1.5603          INLAND
20636         356         114         2.5568          INLAND
20637        1007         433         1.7000          INLAND
20638         741         349         1.8672          INLAND
20639        1387         530         2.3886          INLAND

       median_house_value
0                  452600
1                  358500
2                  352100
3                  341300
4                  342200
...                   ...
20635               78100
20636               77100
20637               92300
20638               84700
20639               89400

[20433 rows x 10 columns]

In [31]:
df[num_vars].isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [32]:
new_df[num_vars].isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [33]:
df["is_duplicate"]= df.duplicated()

In [34]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,is_duplicate
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200,False
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100,False
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100,False
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300,False
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700,False
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400,False

In [35]:
df.drop_duplicates()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,is_duplicate
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200,False
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100,False
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100,False
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300,False
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700,False
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400,False

In [36]:
new_df.drop_duplicates(
)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,INLAND,78100
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,INLAND,77100
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,INLAND,92300
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,INLAND,84700
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,INLAND,89400

In [37]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [38]:
cat_columns = df.select_dtypes(['object']).columns

In [39]:
print(cat_columns)

Index(['ocean_proximity'], dtype='object')

In [40]:
df[cat_columns] = df[cat_columns].apply(lambda x: pd.factorize(x)[0])

In [41]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,is_duplicate
0,-122.23,37.88,41,880,129.0,322,126,8.3252,0,452600,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,0,358500,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,0,352100,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,0,341300,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,0,342200,False

In [42]:
df.ocean_proximity.unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [43]:
df.fillna(df.mean(), inplace=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value,is_duplicate
0,-122.23,37.88,41,880,129.0,322,126,8.3252,0,452600,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,0,358500,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,0,352100,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,0,341300,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,0,342200,False
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,2,78100,False
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,2,77100,False
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,2,92300,False
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,2,84700,False
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,2,89400,False

In [44]:
df[num_vars].isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
from sklearn.linear_model import LinearRegression

In [49]:
y=df['median_house_value'].values

In [53]:
X=df.drop('median_house_value', axis=1).values

In [54]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=123)

In [55]:
reg=LinearRegression()

In [56]:
reg.fit(X_train, y_train)

LinearRegression()

In [57]:
y_pred=reg.predict(X_test)

In [58]:
print(y_pred)

[237389.19988682 139672.76881252 149350.88407261 ...  87710.55408701
 165929.54506955 314409.46613491]

In [60]:
from sklearn.metrics import mean_squared_error

In [61]:
mean_squared_error(y_test, y_pred)

4828859704.770992

In [64]:
from sklearn.model_selection import cross_val_score, KFold

In [65]:
kf= KFold(n_splits=6, shuffle= True, random_state=123)

In [66]:
cv_results=cross_val_score(reg, X, y, cv=kf)

In [67]:
print(cv_results)

[0.63197664 0.65152849 0.64377041 0.63445251 0.62659542 0.62048838]

In [69]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (cv_results.mean(), cv_results.std()))

0.63 accuracy with a standard deviation of 0.01